<!DOCTYPE html>
<html>
    <head>
        <title>Realtime Markdown Viewer</title>
        
        <!------------------------------------------------------
        
                        Bootstrap + style.css styling
        
        ------------------------------------------------------>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

        <!------------------------------------------------------
        
                        CodeMirror CSS Dependencies
        
        ------------------------------------------------------>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/show-hint.min.css">
    </head>

    <body class="container-fluid">
        <section class="row">
            <div class="col-md-6 full-height" id="editor-container"></div>
            <div class="col-md-6 full-height" id="markdown"></div>
        </section>

        <!------------------------------------------------------
        
        1. showdown.js - convert Markdown to html
        2. codemirror - provide text editor functionality
        3. codemirror markdown mode - add markdown syntax hightlighting
        4. code mirror show-hint - provide autocompletion
        5. script.js - Custom JS
        
        ------------------------------------------------------>

        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/markdown/markdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/hint/show-hint.min.js"></script>
        <script src="script.js"></script>
        
    </body>
</html>